body {
  font-family: Gill Sans, sans-serif;
  margin: 0;
  line-height: 1.6;
}

/* NAV */
nav {
  background: #111;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px 24px;
  margin: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* CONTENT */
.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}
