body {
  font-family: Gill Sans, sans-serif;
  margin: 0;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: center; /* centers horizontally */
  gap: 24px;
  padding: 16px 24px;
  background: #111;
}


nav a {
  color: white;
  margin-right: 16px;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

